<div class="container">
  <h1>Upcoming Angular 2 Events</h1>
  <hr>
  <div class="row">
    <div *ngFor="let event of events" class="col-5">
      <event-thumbnail #thumbnail (click)="handleThumbnailClick(event.name)" [event]='event' (eventClick)="handleEventClicked($event)"></event-thumbnail>
      {{thumbnail.someProperty}}
      <button class="btn btn-primary" (click)="thumbnail.logFoo()">Log me some foo</button>
    </div>
  </div>
</div>
<hr>


<!-- <button class="btn-primary">Button</button>
<div class="btn-group" data-toggle="buttons">
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton > Left (pre-checked)
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton > Middle
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton > Right
  </label>
</div>
<hr>
<div class="container">
  <ngb-tabset>
    <ngb-tab title="Simple">
      <ng-template ngbTabContent>
        <p>This is the content of the first tab!</p>
        <ngb-alert [dismissible]="false">
          <strong>Warning!</strong> This is an alert!
        </ngb-alert>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
      <ng-template ngbTabContent>
        <p>This is the content of the second tab!</p>
        <p><ngb-progressbar type="success" [value]="25"></ngb-progressbar></p>
        <p><ngb-progressbar type="info" [value]="50"></ngb-progressbar></p>
        <p><ngb-progressbar type="warning" [value]="75"></ngb-progressbar></p>
        <p><ngb-progressbar type="danger" [value]="100"></ngb-progressbar></p>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Disabled" [disabled]="true">
      <ng-template ngbTabContent>
        <p>This tab is disabled</p>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div> -->
