/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

body {
  background-color: #3f1d8f;
  color: #fff;
}

.card {
  background-color: #5832c0;
}
